#root {
  background-image: linear-gradient(40deg,#5e60e7,#f3efff 65% 71.35%,#ffffff);
  /* background-image: linear-gradient(96deg,#5e60e7,#9c7af2 65% 71.35%,#9c7af2); */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 20vh;
  overflow: hidden;
  min-height: 100vh;
}

.presentacion {
  width: 90vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentacion img {
  width: 80%;
  /* background-image: linear-gradient(170deg,#5e60e7,#f3efff 65% 71.35%,#ffffff); */
}


.img_hero {
  position: absolute;
  left: -150px;
  bottom: -200px;
}